@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Welcome @ViewData["Name"] </p>

<address>
    <strong>More information: </strong><a href="https://www.sapo.pt/">Jornal Sapo</a>
</address>

